@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <h4>
        <abbr title="Celular"><strong>  Celular:</strong></abbr> 318-5040431<br />
        <strong>Correo:</strong>   <a href="mailto:Dreygo_22@hotmail.com">Dreygo_22@hotmail.com</a><br />
    </h4>
</address>
<address>
    <h4>
        <abbr title="Dirección"><strong>    Dirección:</strong></abbr> Carrera 78c#5-40<br />        
    </h4>
</address>