@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>AXA ASSISTENCE</h2>
    <p class="lead">
        <h3>Requerimientos obligatorios:</h3> Se desarrolla en su totalidad la aplicación solicitada, se debe haber ejecutado previamente el archivo SQL.
        <p><a href="https://drive.google.com/file/d/1nupYpxmNkJH_RmaDi6HxmdnSHe7KBrwe/view?usp=sharing" class="btn btn-default btn-lg">Obtener archivo SQL &raquo;</a></p>
        Si ya se ejecuto el archivo en SQL ver desarrollo de prueba haciendo @Html.ActionLink("Clic aquí", "Index", "Alumnos").
        <br />
        <h3>Requerimientos Opcionales:</h3>
    No se desarrolla debido a que no fue posible configurar el entorno de trabajo, pero si tengo experiencia en creación de ETL de un año y 7 meses con la Empresa Atento S.A.
    </p>
    <p><a href="https://drive.google.com/file/d/1pScv-1xPLN4v-tv8XU5CCUvei97f_o-r/view?usp=sharing" class="btn btn-primary btn-lg">Hoja de vida del Ingeniero a cargo de la prueba &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Expeiencia laboral.</h2>
        <p>
            Certificaciones Laborales de los ultimos 4 años.
        </p>
        <p><a class="btn btn-default" href="https://drive.google.com/drive/folders/1wPa6k5WyhBM_JSeutySyR-Y_YXMfgP9g?usp=sharing">Ver... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Titulos optenidos</h2>
        <p>Certificaciones de los estudios Realizados</p>
        <p><a class="btn btn-default" href="https://drive.google.com/drive/folders/19ptc2h4jCCdpa381_qBAhDx6FGuDLMhL?usp=sharing">Ver... &raquo;</a></p>
    </div>
</div>

